@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/bg-header.jpg");
}

.register {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/registerimg.jpg");
}

.fade-in-section {
  opacity: 0; /* Başlangıçta görünmez */
  transform: translateY(20px); /* Aşağıdan yukarıya */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Geçiş efekti */
}

.fade-in-section.is-visible {
  opacity: 1; /* Görünürlük */
  transform: translateY(0); /* Konum sıfırlanıyor */
}
.input-element-select {
  @apply shadow-lg border-2 border-rose-200 px-2 pl-[40px] rounded-md py-1 placeholder:text-sm w-72 
  transition-all duration-300 focus:outline-none
  focus:ring
  focus:ring-rose-200
  focus:ring-opacity-50 text-black;
}
.question-label {
  @apply font-medium text-gray-800 text-center  leading-relaxed tracking-wide;
}

/*** DASHBOARD PROFILE ***/
.input-container {
  @apply grid grid-cols-[1fr,2fr] w-fit items-center;
}
